.extendedCard-container {
  --border-radius: 0.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  border-radius: var(--border-radius);
  background-color: white;
}

.extendedCard-container .header {
  width: 100%;
  padding: 1rem;
  border-top-right-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);
}

.extendedCard-container .content {
  padding: 1rem;
  padding-top: 0;
}
