.banner {
  background-color: #6699ff;
  text-align: center;
  padding: 1rem;
  color: #fff;
  font-size: larger;
  font-weight: bold;
}

main {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 1000px;
}
